{{ define "main" }}
<main>
  <div class="container">
    <article>
        <header class="bg-primary">
          <p class="h1 p-3" style="color:#fff">{{.Title}}</p>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        <div class="container" style="max-width:740px">
          {{.Content}}
        </div>
    </article>

    <div class="container" style="max-width:740px">
      <!-- Ranges through content/post/*.md -->
      {{ range .Pages }}
      <div class="row mt-5">
        <div class="col-md-2">
          <img class="card-img-top" src="/images/{{.Params.ServiceImage}}" alt="{{.Params.ServiceDescription}}" height=150px>
        </div>
        <div class="col-md-10">
          <a href="{{.Permalink}}"><p class="h1">{{.Title}}</p></a>
          <p>{{.Params.Summary}}</p>
          <p><a href="{{.Permalink}}">Learn more »</a></p>
        </div>
      </div>
      <hr/>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}

{{define "footer"}}

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">Calendly.initBadgeWidget({url: 'https://calendly.com/davez', text: 'Schedule time with me', color: '#ee971a', branding: true});</script>
<!-- Calendly badge widget end -->

{{ end}}
