{{ define "title"}}Zvenyach LLC Blog{{ end }}

{{ define "main" }}
<div class="container">
  <section class="bg-primary">
    <p class="h1 p-3" style="color:#fff">{{.Section | humanize}}</p>
  </section>
</div>

<div class="container" style="max-width:740px">
<section id="blog-post">
  <p><a href="/blog">« Back to Blog List</a></p>
  <p class="h1 mt-5" id="title">{{ .Title }}</p>
  <div>
    <p class="mb-5">{{ .Date.Format "Jan. 2, 2006" }} | {{ .WordCount }} Words | {{.ReadingTime}}-{{ "minutes" | singularize }} read</p>
    <article id="content">
      {{ .Content }}
    </article>
  </div>
</section>
<p><a href="/blog">« Back to Blog List</a></p>

</div>

<section class="bg-light">
  {{partial "comments/comments-form.html"}}
</section>

{{ end }}
