<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TWJ2FM5');</script>
    <!-- End Google Tag Manager -->

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="alternate" type="application/rss+xml" href="https://zvenyach.com/blog/index.xml" title="Zvenyach LLC Blog">

    {{ block "head" .}}

    {{ end }}

    <!-- Open graph -->
    {{ template "_internal/opengraph.html" . }}
    <!-- Twitter Cards -->
    {{ template "_internal/twitter_cards.html" . }}


  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWJ2FM5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header and Navbar -->
    {{ partial "header/site-header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
      {{partial "footer/site-footer.html"}}
    {{ end }}


    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lazysizes.min.js" async=""></script>
  </body>
</html>
