<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
      .bg-primary {
        background-color: #1c63af !important;
      }
      /* secondary: #f38f19 */
      .h1, .display-4 {
        font-family: Claxton;
        font-weight: 400;
        color: #1c63af;
      }
    </style>

  </head>

  <body>
    <!-- Header and Navbar -->
    {{ partial "header/site-header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>


  </body>
</html>
