{{ define "main" }}
<main>
  <div class="container">
    <article>
        <header class="bg-primary">
          <p class="h1 p-3" style="color:#fff">{{.Title}}</p>
        </header>
        <div class="container" style="max-width:740px">
          {{.Content}}
        </div>
    </article>

    <div class="container" style="max-width:740px">
      <ul>
      {{ range .Pages }}
          <li>
              <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
          </li>
      {{ end }}
      </ul>
    </div>
  </div>
</main>
{{ end }}
