{{ define "main" }}

    <main aria-role="main">

      <div class="container">
        <section class="bg-primary text-white">
          <div class="jumbotron bg-primary text-white">
            <h1 class="display-6">After a <a href="/about/">decade of public service</a>, I'm working as an expert consultant to help <a href="/services/organizations/">strengthen organizations' strategies</a> and <a href="/services/government/">improve government technology</a>.</h1>
          </div>
        </section>
      </div>
      <div class="text-center">
        <a href="/services/" type="button" class="btn btn-lg" style="background-color: #ee971a; color: #fff"><span class="display-6">Services offered »</span></a>
      </div>
    </main>
{{ end }}

{{ define "footer" }}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"4241bce57925fededdd7f7cfb","lid":"72b9cba78b","uniqueMethods":true}) })</script>

{{ end }}
