{{ define "main" }}

    <main aria-role="main">

      <div class="container">
        <section class="bg-primary text-white">
          <div class="jumbotron bg-primary text-white">
            <h1 class="display-6">After a <a href="/about/"><span style="color: #ee971a; font-weight:700; border-bottom: 3px dotted;">decade of public service</span></a>, I'm working as an expert consultant to help
              <a href="/services/organizations/"><span style="color: #ee971a; font-weight:700; border-bottom: 3px dotted;">level up organizations' strategies</span></a> and <a href="/services/government/"><span style="color: #ee971a; font-weight:700; border-bottom: 3px dotted;">improve government technology</span></a>.</h1>
          </div>
        </section>
      </div>
      <div class="text-center">
        <a href="/services/" type="button" class="btn btn-outline-light btn-lg" style="background-color: #ee971a"><span class="display-6">Services offered »</span></a>
      </div>
    </main>
{{ end }}
